@import "../Vars.scss";

.sign-button {
    height: auto;
    background-color: rgba($color: $font-color, $alpha: 0.85);
    border: 4px solid $first-background-color;
    border-radius: 40px;
    font-size: 22px;
    font-weight: 900;
    color: $second-background-color;
    cursor: pointer;
    margin: 30px;
    padding: 20px;
    outline: none;

    &:hover {
        background-color: $font-color;
    }
}