@import url(https://fonts.googleapis.com/css?family=Muli&display=swap);

/* Variables SASS */
$main-font: "Muli", sans-serif;
$font-color: white;
$first-background-color: rgb(255, 181, 70);
$second-background-color: rgb(230, 0, 0);